@model List<ProdutosModel>

@{
    ViewData["Title"] = "Produtos";
}

<div class="text-center">

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Nossos Produtos</h1>

    <div class="card-container">
        @if (Model != null && Model.Any())
        {
            foreach (var produto in Model)
            {
                <div class="card">
                    <img src="/images/imageTratorHomePage.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-dark">@produto.Nome</h5>
                        <p class="card-text text-dark">@produto.Descricao</p>
                        <p class="card-text text-dark">Valor: R$ @produto.Valor</p>
                        <p class="card-text text-dark">Ano de lançamento: @produto.DataDeLancamento.Year</p>
                        <a href="@Url.Action("Detalhes", "Produtos", new { id = produto.Id })" class="btn btn-primary">Detalhes</a>
                    </div>
                </div>

            }
        }
        else
        {
            <p class="text-muted">Nenhum Produto encontrado</p>
        }
    </div>

</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        color: #333;
        margin: 0;
        padding: 0;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-around;
        margin-top: 20px;
    }

    .card {
        width: 300px;
        background-color: #fff;
        color: #333;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-img-top {
        width: 100%;
        height: auto;
    }

    .card-body {
        padding: 16px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .text-muted {
        color: #6c757d;
    }
</style>
